#container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #box-container {
    display: flex;
  }
  
  .stock-item {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .stock-name {
    font-weight: bold;
  }
  
  .stock-description {
    text-align: left;
  }















































































































  